<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/' + HOME]">
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <ng-container *ngIf="logeado">
      <app-sidebar-item [SideBarManu]="SideBarMenuProveedor" *ngIf="SideBarMenuProveedor.permiso">
      </app-sidebar-item>
      <app-sidebar-item [SideBarManu]="SideBarMenuEvaluacion" *ngIf="SideBarMenuEvaluacion.permiso">
      </app-sidebar-item>
      <app-sidebar-item [SideBarManu]="SideBarMenuReportes" *ngIf="SideBarMenuReportes.permiso">
      </app-sidebar-item>
      <app-sidebar-item [SideBarManu]="SideBarMenuUsuarios" *ngIf="SideBarMenuUsuarios.permiso">
      </app-sidebar-item>

      <!-- <li class="nav-heading">Pages</li>

      <app-sidebar-item-alone
        TitelItemAlone="Login"
        IconItemAlone="bi bi-box-arrow-in-right"
        [SidebarLinkAlone]="LOGIN">
      </app-sidebar-item-alone>
      <app-sidebar-item-alone
        TitelItemAlone="Error 404"
        IconItemAlone="bi bi-dash-circle"
        [SidebarLinkAlone]="NOT_FOUND">
      </app-sidebar-item-alone> -->
    </ng-container>
  </ul>
</aside>
<!-- End Sidebar-->
