<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <app-sidebar-item [SideBarManu]="SideBarMenuProveedor"> </app-sidebar-item>
    <app-sidebar-item [SideBarManu]="SideBarMenuEvaluacion"> </app-sidebar-item>
    <app-sidebar-item [SideBarManu]="SideBarMenuReportes"> </app-sidebar-item>
    <app-sidebar-item [SideBarManu]="SideBarMenuAdministracion">
    </app-sidebar-item>

    <li class="nav-heading">Pages</li>

    <app-sidebar-item-alone
      TitelItemAlone="Login"
      IconItemAlone="bi bi-box-arrow-in-right">
    </app-sidebar-item-alone>
    <app-sidebar-item-alone
      TitelItemAlone="Error 404"
      IconItemAlone="bi bi-dash-circle">
    </app-sidebar-item-alone>
    <app-sidebar-item-alone
      TitelItemAlone="Blank"
      IconItemAlone="bi bi-file-earmark">
    </app-sidebar-item-alone>
  </ul>
</aside>
<!-- End Sidebar-->
