<ul
  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile show dropdown-menu-profile-position"
  data-popper-placement="bottom-end">
  <li class="dropdown-header">
    <h6>{{ userProfile?.Nombre }}</h6>
    <span>{{ userProfile?.TipoAdministrador }}</span>
  </li>
  <li>
    <hr class="dropdown-divider" />
  </li>

  <li>
    <button class="dropdown-item d-flex align-items-center" (click)="viewProfile()">
      <i class="bi bi-person"></i>
      <span>Mi Perfil</span>
    </button>
  </li>
  <li>
    <hr class="dropdown-divider" />
  </li>

  <li>
    <button class="dropdown-item d-flex align-items-center" disabled>
      <i class="bi bi-gear"></i>
      <span>Configuración</span>
    </button>
  </li>
  <li>
    <hr class="dropdown-divider" />
  </li>

  <li>
    <button class="dropdown-item d-flex align-items-center" disabled>
      <i class="bi bi-question-circle"></i>
      <span>Ayuda?</span>
    </button>
  </li>
  <li>
    <hr class="dropdown-divider" />
  </li>

  <li>
    <button class="dropdown-item d-flex align-items-center" (click)="cerrarSesion()">
      <i class="bi bi-box-arrow-right"></i>
      <span>Cerrar Sesión</span>
    </button>
  </li>
</ul>
