<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <app-logo></app-logo>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <app-navbar-item-icon BoostrapIcon="bi bi-bell"> </app-navbar-item-icon>
      <app-navbar-item-icon BoostrapIcon="bi bi-chat-left-text">
      </app-navbar-item-icon>
      <app-navbar-item-profile> </app-navbar-item-profile>
    </ul>
  </nav>
</header>
