<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <app-logo></app-logo>
    <button class="btn-Transparent-Icon" (click)="toggleSidebar()">
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </button>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <!-- En esta App Aun no se Utiliza esta Funcion -->
      <!-- <app-navbar-item-icon *ngIf="logeado" BoostrapIcon="bi bi-bell"> </app-navbar-item-icon>
      <app-navbar-item-icon *ngIf="logeado" BoostrapIcon="bi bi-chat-left-text"> </app-navbar-item-icon> -->
      <app-navbar-item-profile *ngIf="logeado" [userProfile]="userProfile">
      </app-navbar-item-profile>
      <a *ngIf="!logeado" [routerLink]="['/' + LOGIN]" class="btn btn-dark btn-sm me-4">Login</a>
    </ul>
  </nav>
</header>
