<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <app-logo></app-logo>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login Administración Proveedores</h5>
                  <p class="text-center small">Ingrese su Usuario & Contraseña para conectarse</p>
                </div>

                <form
                  class="row g-3 needs-validation"
                  [formGroup]="formLogin"
                  (ngSubmit)="login()"
                  novalidate>
                  <div class="col-12">
                    <label for="ntUser" class="form-label">Usuario</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">nt</span>
                      <input
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            formLogin.get('ntUser')?.invalid && formLogin.get('ntUser')?.touched
                        }"
                        type="text"
                        name="ntUser"
                        id="ntUser"
                        required
                        formControlName="ntUser" />
                    </div>
                    <label
                      class="is-invalid"
                      *ngIf="formLogin.get('ntUser')?.invalid && formLogin.get('ntUser')?.touched">
                      Su Usuario es requerido
                    </label>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            formLogin.get('password')?.invalid && formLogin.get('password')?.touched
                        }"
                        [type]="showPassword ? 'text' : 'password'"
                        name="password"
                        id="password"
                        required
                        formControlName="password" />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            [ngClass]="{
                              'bi bi-eye': showPassword,
                              'bi bi-eye-slash': !showPassword
                            }"
                            (click)="showPassword = !showPassword"></i>
                        </span>
                      </div>

                      <label
                        class="is-invalid"
                        *ngIf="
                          formLogin.get('password')?.invalid && formLogin.get('password')?.touched
                        ">
                        Su Contraseña es requerida
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      class="btn btn-primary w-100"
                      type="submit"
                      [disabled]="apiLoading || formLogin.invalid">
                      <div align="center">
                        <mat-spinner *ngIf="apiLoading" [diameter]="25"></mat-spinner>
                        <span *ngIf="!apiLoading">Login</span>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
