<ul
  id="components-nav"
  class="nav-content collapse show"
  data-bs-parent="#sidebar-nav">
  <li *ngFor="let item of SideBarManuItem">
    <a href="./">
      <i class="bi bi-circle"></i><span>{{ item.title }}</span>
    </a>
  </li>

  <!-- <li>
    <a href="components-alerts.html">
      <i class="bi bi-circle"></i><span>Alerts</span>
    </a>
  </li>
  <li>
    <a href="components-accordion.html">
      <i class="bi bi-circle"></i><span>Accordion</span>
    </a>
  </li>
  <li>
    <a href="components-badges.html">
      <i class="bi bi-circle"></i><span>Badges</span>
    </a>
  </li>
  <li>
    <a href="components-breadcrumbs.html">
      <i class="bi bi-circle"></i><span>Breadcrumbs</span>
    </a>
  </li> -->
</ul>
