<main id="main" class="main">
  <!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row"></div>

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <section class="pt-5 pt-md-11">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-5 col-lg-6 order-md-2">
                      <!-- Image -->
                      <!-- https://www.freepik.es/vector-gratis/ilustracion-concepto-estadisticas-sitio_7140733.htm?query=Sistema%20de%20gesti%C3%B3nde%20informaci%C3%B3n%20con%20personas#from_view=detail_alsolike -->
                      <img
                        src="assets/images/WelcomeApp.jpg"
                        class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate"
                        alt="..."
                        data-aos="fade-up"
                        data-aos-delay="100" />
                    </div>
                    <div
                      class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate"
                      data-aos="fade-up">
                      <!-- Heading -->
                      <h1 class="display-3 text-center text-md-start">
                        Bienvenido a <span class="text-primary">Administracion Proveedores</span>.
                        <br />
                      </h1>

                      <!-- Text -->
                      <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                        Hola, esta es nuestra plataforma de administración de proveedores. Esta
                        herramienta le ayudará a llevar un control eficiente de sus relaciones
                        comerciales con sus proveedores.
                        <b *ngIf="!logeado">
                          Para acceder a todas las funcionalidades de nuestra plataforma, inicie
                          sesión.
                        </b>
                      </p>

                      <!-- Buttons -->
                      <div class="text-center text-md-start" *ngIf="!logeado">
                        <a class="btn btn-primary shadow lift me-1" [routerLink]="['/' + LOGIN]">
                          Login
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
                <!-- / .container -->
              </section>
            </div>
          </div>
        </div>
        <!-- End Reports -->
      </div>
    </div>
  </section>
</main>
