<p>administrar-usuario works!</p>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Administar Usuario</h1>
  </div>
  <!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row"></div>

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Administar Usuario <span>/Administar Usuario</span>
              </h5>
            </div>
          </div>
        </div>
        <!-- End Reports -->
      </div>
    </div>
  </section>
</main>
